.App {
	text-align: center;
	height: 100vh;
}

@media only screen and (max-width: 1023px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100vh;
	}

	.bggreen {
		max-width: 30%;
		padding-left: 4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #6befa3;
		height: 100vh;
	}
}

@media screen and (min-width: 1024px) {
	.wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		text-align: start;
		height: 100vh;
	}

	.bggreen {
		max-width: 30%;
		padding-left: 4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #6befa3;
		height: 100vh;
	}
}
